@use "../../assets/styles/" as *;

.UploadPage {
  display: flex;
  width: 100%;
  padding: 100px 180px;

  .form_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 40px;

    h2 {
      color: #fff;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.09px;
    }

    .licnese_options {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 90px;

      .licnese_option_active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        cursor: pointer;
        border-radius: 10px;
        padding: 16px 48px 32px 48px;
        background: #1b1b1b;
        border: 2px solid #6600e8;
      }

      .licnese_option_inactive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        cursor: pointer;
        border-radius: 10px;
        background: #1b1b1b;
        padding: 16px 50px;
      }
    }
  }

  .form_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 40px;

    h2 {
      color: #fff;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.09px;
    }

    .input_container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .main_input_container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .file_input {
          width: 640px;
          height: 320px;
          cursor: pointer;
          opacity: 0;
        }
      }
    }

    .button_container {
      display: flex;
      column-gap: 24px;
    }
  }
}

.license_text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.036px;
}

.form_button {
  border-radius: 10px;
  background: #6600e8;
  padding: 10px 36px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.036px;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
}

.form_button:hover {
  background: #a262f6;
}

.back_button {
  border-radius: 10px;
  background: none;
  padding: 10px 36px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.036px;
  border: 1px solid #6600e8;
  cursor: pointer;
  transition: all ease 0.5s;
}

.back_button:hover {
  background: #6600e8;
}

.progressBarContainer{
  margin-left: 60px;
  width: 140%;
  margin-bottom: 30px;
  .progressBar{
    margin: 15px 0 5px 0;
    width: 100%;
    height: 30px;
    border: 2px solid white;
    border-radius: 40px;
    .progress{
      background-color: #6600e8;
      border: 1px solid white;
      width: 50%;
      height: 27px;
      border-radius: 40px;
    }
  }
  .complete{
    text-align: end;
  }
}

.thirdForm {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  margin-left: 60px;
  .label {
    margin-bottom: 15px;
  }
  input[type="text"] {
    width: 200%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
    background-color: transparent;
    margin-bottom: 35px;
    color: white;
    outline: none;
  }

  select {
    width: 200%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
    background-color: transparent;
    margin-bottom: 40px;
    color: white;
    outline: none;
    option {
      background-color: black;
      color: white;
    }
  }

  .imgContainer {
    position: relative;
    background-color: #434343;
    width: 214px;
    height: 200px;
    border-radius: 10px;
    .uploadBtnContainer {
      position: absolute;
      top: 140px;
      left: 41px;
      .upload_btn_wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
      }

      .uploadFileBtn {
        border: none;
        color: black;
        background-color: white;
        padding: 8px 10px;
        border-radius: 8px;
        font-size: 13px;
        font-weight: bold;
        display: flex;
        align-items: center;
        .uploadImg {
          width: 22px;
          height: 22px;
          margin-right: 5px;
        }
      }

      .upload_btn_wrapper input[type="file"] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }
  .max{
      text-align: center;
      margin-top: 5px;
      span{
        font-weight: 600;
      }
  }

  .button_container {
    display: flex;
    column-gap: 24px;
    margin-top: 20px;
  }
}
