@use "../../../../assets/styles/" as *;

.PopularUploads {
  width: 68%;
  margin: 40px auto 0;
  h2 {
    margin-bottom: 20px;
    margin-left: 12px;
  }

  .uploads {
    display: grid;
    grid-template-columns: auto auto auto auto;
    .uploadDetails {
      position: relative;
      margin: auto;
      .imgUpload {
        width: 159px;
        height: 155px;
        border-radius: 10px;
      }
      .text {
        position: absolute;
        bottom: 10%;
        left: 10px;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0.03px;

        span {
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.1px;
        }
      }
    }
  }

  .feedback {
    text-align: center;
  }
}

.LoadingIcon_container {
  width: 50vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
