@use "../../../../assets/styles/" as *;

h2 {
  margin: 0 0 10px 10px;
}
.PopularUploads {
  display: grid;
  grid-template-columns: auto auto auto auto;
  div {
    position: relative;
    margin: auto;
    .imgUpload {
      width: 159px;
      height: 155px;
      border-radius: 10px;
    }
    .text {
      position: absolute;
      bottom: 10%;
      left: 10px;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.03px;

      span {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.1px;
      }
    }
  }
}