@use "../../assets/styles/" as *;

.SearchPage {
  width: 60%;
  margin: auto;
  .filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    .link {
      text-decoration: none;
      color: white;
      font-size: 24px;
      margin-right: 8px;
    }
    select {
      margin-left: 8px;
      border: none;
      border-radius: 8px;
      padding: 13px 40px;
    }
  }
  .beats {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
  }

  @include sm() {
  }
}
