@use "../../assets/styles/" as *;

.ProducerAllBeatsPage {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  row-gap: 24px;
  width: 100%;
  padding: 40px 0;

  @include sm() {
  }
}

.LoadingIcon_container {
  width: 50vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
