@use "../../assets/styles/" as *;

.hero{
  width: 80%;
  margin: auto ;
}
.LandingPage {
  width: 50%;
  margin: 20px auto 0;
  background-color: #0a0a09;
  color: white;

  

  @include sm() {
  }
}
