@use "../../assets/styles/" as *;

.ArtistAllBeatsPage {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  row-gap: 24px;
  width: 100%;
  padding: 40px 0;

  @include sm() {
  }
}
